---
layout: main
page-id: contact-us
---
<h1><span class="number">04.</span>Contato</h1>
<p style="text-align: left; hyphens: none; -webkit-hyphens: none;">Entre em contato conosco pelo telefone <span style="white-space: nowrap">{{tel}}</span>, pelo email <a style="white-space: nowrap;" href="mailto:hello@deft.design">hello@deft.design</a>, ou usando o formulário abaixo.</p>
<div class="form">
	<div class="form-line">
		<label>Assunto</label>
		<input type="text" name="subject" />
	</div>
	<div class="form-line">
		<label>Seu email</label>
		<input type="email" name="email" />
	</div>
	<div class="form-line">
		<label>Mensagem</label>
		<textarea name="message"></textarea>
	</div>
	<div class="form-line">
		<button class="btn-send">Enviar</button>
	</div>
</div>